<div class="foundry-tube-content">
    <div class="tabs-content-wrapper">
        {{#each tabs}}
        <div class="tube-instance {{#if this.isActive}}active{{/if}}" data-tab-index="{{this.index}}">

            <div class="control-bar">
                <div class="playback-controls">
                    <button type="button" class="icon-btn" data-action="playPrev" title="Prev" {{#unless ../isGM}}disabled{{/unless}}><i class="fas fa-step-backward"></i></button>
                    <button type="button" class="icon-btn" data-action="togglePlayback" title="Play/Pause" {{#unless ../isGM}}disabled{{/unless}}><i class="fas fa-play"></i></button>
                    <button type="button" class="icon-btn" data-action="playNext" title="Next" {{#unless ../isGM}}disabled{{/unless}}><i class="fas fa-step-forward"></i></button>
                    <button type="button" class="icon-btn {{#if this.isLooping}}active{{/if}}" data-action="toggleLoop" title="Loop" {{#unless ../isGM}}disabled{{/unless}}><i class="fas fa-repeat"></i></button>
                </div>

                <div class="center-controls">
                    <div id="view-seeker-{{this.index}}" class="view-seeker">
                        <div class="track-info">
                            <div class="track-title" id="track-title-text-{{this.index}}"><span>{{this.title}}</span></div>
                        </div>
                        <div class="seeker-group">
                            <span id="current-time-{{this.index}}">0:00</span>
                            <input type="range" class="video-seeker" data-tab="{{this.index}}" min="0" max="100" value="0" step="1" {{#unless ../isGM}}disabled{{/unless}}>
                            <span id="duration-time-{{this.index}}">0:00</span>
                        </div>
                    </div>
                    {{#if ../isGM}}
                    <div class="smart-input-group" id="view-input-{{this.index}}" style="display: none;">
                        <input type="text" name="smartInput" data-tab="{{this.index}}" placeholder="Tab {{this.humanIndex}}: Link or Search..." autocomplete="off">
                        <button type="button" class="icon-btn" data-action="executeSmartInput" title="Go"><i class="fas fa-arrow-right"></i></button>
                    </div>
                    {{/if}}
                </div>

                <div class="right-controls">
                    <div class="right-btns">
                        <button type="button" class="icon-btn" data-action="toggleQueue" title="Playlist"><i class="fas fa-list"></i></button>
                        {{#if ../isGM}}
                        <button type="button" class="icon-btn toggle-mode-btn" data-action="toggleInputMode" title="Add/Search"><i class="fas fa-plus"></i></button>
                        {{/if}}
                    </div>

                    <div class="vol-channel-group">
                        <div class="volume-group">
                            <button type="button" class="icon-btn volume-mute-btn" data-action="toggleMute" title="Mute/Unmute"><i class="fas fa-volume-up"></i></button>
                            <input type="range" name="volume" data-tab="{{this.index}}" min="0" max="100" value="{{this.volume}}">
                        </div>
                        <div class="channel-switcher">
                            {{#each ../tabs}}
                            <button type="button" class="channel-btn {{#if this.isActive}}active{{/if}}" data-action="switchTab" data-target="{{this.index}}">{{this.humanIndex}}</button>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="video-container">
                <div id="queue-overlay-{{this.index}}" class="overlay-panel hidden">
                    <div class="queue-progress" id="queue-progress-{{this.index}}">
                        <div class="queue-progress-bar"></div>
                    </div>

                    {{#if ../isGM}}
                    <div class="preset-toolbar">
                        <select class="preset-select" data-tab="{{this.index}}">
                            <option value="" disabled selected>Presets...</option>
                            {{#each ../savedPlaylists}}<option value="{{@key}}">{{@key}}</option>{{/each}}
                        </select>
                        <div class="preset-actions">
                            <button type="button" data-action="loadPreset"><i class="fas fa-upload"></i></button>
                            <button type="button" data-action="savePreset"><i class="fas fa-save"></i></button>
                            <button type="button" data-action="deletePreset"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                    {{/if}}

                    <div class="panel-header">
                        <span>Queue {{this.humanIndex}}</span>
                        {{#if ../isGM}}
                        <div style="display:flex; gap:5px;">
                            <button type="button" class="clear-btn" data-action="importFromClipboard"><i class="fab fa-youtube"></i> Import</button>
                            <button type="button" class="clear-btn" data-action="clearQueue">Clear</button>
                        </div>
                        {{/if}}
                    </div>
                    <div class="panel-content playlist-container" id="playlist-container-{{this.index}}"></div>
                </div>

                <div id="search-overlay-{{this.index}}" class="overlay-panel hidden">
                    <div class="panel-header"><span>Search</span><button type="button" class="clear-btn" data-action="closeSearch">Close</button></div>
                    <div class="panel-content search-container" id="search-container-{{this.index}}"></div>
                </div>

                <div class="player-wrapper">
                    <div id="player-shield-{{this.index}}" class="{{#if ../isGM}}gm-shield{{else}}player-shield-active{{/if}}"></div>
                    <div id="foundry-tube-player-{{this.index}}" class="yt-target"></div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
